<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.PaperMapper">

    <resultMap id="paperRM" type="com.example.demo.dto.paper.PaperResponseDto">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="DATE"/>
        <result column="info" property="info" jdbcType="VARCHAR"/>
        <result column="courseName" property="courseName" jdbcType="VARCHAR"/>
        <result column="teacherName" property="teacherName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getPaperList" parameterType="com.example.demo.dto.paper.PaperRequestDto" resultMap="paperRM">
        SELECT p.id,p.create_date,p.info,c.name as courseName,t.name as teacherName
        FROM t_paper p
        LEFT JOIN t_course c on c.number=p.course_id
        LEFT JOIN t_teacher t on t.number=p.teacher_id
    </select>

</mapper>