


body {
	background: #F7F7F7;
}
#all {
	width: 300px;
	height: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -250px;
}
#img {
	width: 300px;
	height: 300px;
	background: url('login-success.gif') no-repeat;
}
.info {
	margin-top: 10px;
	text-align: center;
}
a {
	color: blue;
}
a:hover {
	color: #f60;
}
.time {
	color: #FF7C7C;
	font-weight: bold;
}


